{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block password_reset_email_check %}
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<br><br><br><br><br><br><br><br>
<div class="row">
    <div class="col-lg-4S text-center mx-auto">
        <div class="card text-center mx-auto">
            <div class="card-body">
              <h5 class="card-title">Verify its you</h5>
              <p class="card-text">We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
              <a href="https://www.gmail.com" class="btn btn-primary">Check Email</a>
            </form>
        </div>  
        <div class="card text-center">

    </div>

</div>
{% endblock %}