{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block password_reset %}
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<br><br><br><br><br><br><br><br>
<div class="row">
    <div class="col-lg-4S text-center mx-auto">
        <div class="card text-center mx-auto">
            <div class="card-body">
              <h5 class="card-title">Forgotten your Password</h5>
              <p class="card-text">Please enter your email to continue</p>
              <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.email | add_class:"form-control" | attr:"placeholder:Email" }}<br>
                <input type="submit" class="btn btn-primary" value="{% trans 'Reset My Password' %}" />
            </form>
        </div>  
        <div class="card text-center">

    </div>

</div>
{% endblock %}