{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load widget_tweaks %}


{% block password_enter_for_reset_done %}

<br><br><br><br><br><br>

<div class="row">
    <div class="col-lg-4 text-center mx-auto">
        <div class="card text-center mx-auto">
            <div class="card-body">
              <h5 class="card-title">Your password has been successfully reset</h5>
              <p class="card-text">Click here to go to login page</p>
              <a href="/accounts/login/" class="btn btn-primary">Go to login page</a>
            
        </div>  
        <div class="card text-center">

    </div>

</div>
{% endblock %}