{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}

<br><br><br><br><br><br>

<div class="row">
    <div class="col-lg-8 text-center mx-auto">
        <div class="card text-center mx-auto">
            <div class="card-body">
              <h5 class="card-title">Verify your email</h5>
              <p class="card-text">Open your email. You will get a link. Click the link to verify your email.</p>
              <a href="https://www.gmail.com" class="btn btn-primary">Go to Gmail</a>
        </div>  
        <div class="card text-center">

    </div>

</div>





    

{% endblock %}
