{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block register %}

<link rel="stylesheet" href="{% static  'css/style.css' %}">



<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-6 col-lg-4 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
             <h3 class="card-title text-center font-weight-bold">Sign Up</h3>
             <form class="form-signin mx-auto" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {%csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

             <br>
              {{ form.username | add_class:"form-control" | attr:"placeholder:Username" }}<br>
              {{ form.email | add_class:"form-control" | attr:"placeholder:email" }}<br>
              {{ form.password1 | add_class:"form-control" | attr:"placeholder:password"  }}<br>
              {{ form.password2 | add_class:"form-control" | attr:"placeholder:confirm password" }}<br>
 
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button type='submit' class="btn btn-dark btn-block text-uppercase">Register</button> 
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>




{% endblock %}
