{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<br><br>
<a href="#" class="text-dark">
  <h1 class="text-center aqua-gradient">Nurse</h1>
</a>
<hr>
<br><br>



<div class="container">
  
  <br>
  <hr>
  <div class="row">

    {% for i in doctor %}
    <div class="col-xl-3">
      <div class="card">
        <img class="card-img-top" src="{{i.profile_photo.url}}" alt="Card image cap" style="width: 255px; height: 255px;">
        <div class="card-body">
          <h4 class="card-title text-center"><a>{{i.name}}</a></h4>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p> -->
          <a href="{{i.id}}" class="btn blue-gradient btn-primary w-100">See Review</a><br><br>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}