{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <h1>This is Physiotherapist home.</h1>
    <h2>Upcoming Appointments</h2>
    {% for i in upcoming %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">{{i}}</p>
        <p class="card-text">{{i.slot.time_start}}</p>
        <p class="card-text">{{i.slot.time_end}}</p>
        <!-- {% if not i.slots %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add Slot
        </button>
        {% else %}
            {{i.slots.0.time_start}} to {{i.slots.0.time_end}}
        {% endif %} -->
        </div>
    </div>  
    {% endfor %}
    <br>
    <h2>Completed Appointments</h2>
    {% for i in completed %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">{{i}}</p>
        <p class="card-text">{{i.slot.time_start}}</p>
        <p class="card-text">{{i.slot.time_end}}</p>
        <button type="button" class="btn btn-primary">Check Payment Status</button>
        </div>
    </div>

    {% endfor %}
    <br>
    <br>  
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add Slot
    </button>
  
    
{% endblock %}
