{% extends 'base.html' %}

{% load static %}

{% block physiotherapist_show_slot %}
<!-- NAV BAR -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a href='' class="navbar-brand"><b>HEAL AT HOME</b></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          {% comment %} <li class="nav-item">
            <a href='' class="nav-link">Home</a>
          </li>


         
          <li class="nav-item active">
            <a href='' class="nav-link">Logout</a>
          </li> {% endcomment %}
        </ul>
      </div>
    </div>
  </nav>
<div class="container-fluid">

    <div class="col-sm-8 col-md-12" style="padding-right:20px">

        <div class="panel panel-default" style="padding-right:20px">
            <div class="panel-body">
              <br>
          <h3>&nbspDr. {{first_name}}  {{last_name}}</h3>

          {% if error_message %}
              <p><strong>{{ error_message }}</strong></p>
          {% endif %}
          <br>
          <table class="table table-striped table-hover ">
              <thead>
              <tr>
                  <th>Patient Name</th>
                  <th>Patient Address</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Attended</th>
                  <!-- <th>RMP Name </th> -->
                  

              </tr>
              </thead>
              <tbody>
              {% for appointment in upcoming %}
                <tr>
                  <th>{{appointment.1}}</th>
                  <th>{{appointment.1.city}}, {{appointment.1.state}}</th>
                  <th>{{appointment.0.slot.date}}</th>
                  <th>{{appointment.0.slot.time_start}}</th>
                  <th>Upcoming</th>
                </tr>
              {% endfor %}
              {% for appointment in completed %}
                <tr>
                  <th>{{appointment.1}}</th>
                  <th>{{appointment.1.city}}, {{appointment.1.state}}</th>
                  <th>{{appointment.0.slot.date}}</th>
                  <th>{{appointment.0.slot.time_start}}</th>
                  <th>Completed</th>
                </tr>
              {% endfor %}
              </tbody>
          </table>
          <div class="alert alert-warning">
              {{context}}
          </div>

      </div>
  </div>

</div>

</div>


</br></br></br></br></br></br></br></br></br></br></br></br></br></br>
{% endblock %}