{% extends 'base.html' %}


{% load static %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Prescription</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
   -->
  {% block collected_samples %}

     <!-- NAV BAR -->
     <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container">
        <a href='/' class="navbar-brand"><b>HEAL AT HOME</b></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href='{% url "lab1:index" %}'  class="nav-link">Home</a>
			</li>
			<li class="nav-item">
				<!-- <a href='{% url "physiotherapist:modify_profile" %}'  class="nav-link">Edit Profile</a> -->
			  </li>
			<li class="nav-item">
				<a href=''  class="nav-link">Bookings</a>
			  </li>
			
			  <li class="nav-item">
				<!-- <a href='/physiotherapist/show_complaint_feedback/'  class="nav-link">Show complaints/feedback</a> -->
			  </li>
			

           
            <li class="nav-item active">
              <a href='' class="nav-link">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <div class="container">
          <div class="col-sm-12 col-md-12">

              <div class="panel panel-default">
                  <div class="panel-body">
                    <br>
                    <!-- <h3>Dr. {{first_name}}  {{last_name}}   -->
                      <span style="color: blue;font-size: 20px; padding: 1px 45px" >
                      SELECT COLLECTOR
                      </span>
                      </h3> 
                     
                      <br>
                      {% if error_message %}
                          <p><strong>{{ error_message }}</strong></p>
                      {% endif %}
                      

                    
                        <table class="table table-striped table-hover ">
                            <thead class="thead-light">
                                <tr>
                                  <th>Booking Id    </th>
                                  <th>Date of booking</th>
                                  <th>Paitent Name</th>
                                  <th>Test Name</th>
                                  <th>Link</th>
                                </tr>
                              </thead>
                              <tbody>
                            
                        
                        {% for booking in bookings %}
                        <tr>
                            <th scope="row">{{booking.id}}</th>
                            <td>{{booking.date}}</td>
                            <td>{{booking.patient}}</td>
                            <td>{{booking.test}}</td>
                            <td><a href="{% url 'lab1:select_collector' booking.id %}">Select Collector</a></td>
                        
                          </tr>
                         
                
                        {% endfor %} 
                        </tbody>
                    </table>

                  </div>
              </div>

          </div>

      </div>


      </br></br></br></br></br></br></br></br></br></br></br></br></br></br>
      {% endblock %}

</body>
</html>
