{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    
  <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/style.css' %} " rel="stylesheet">
    <link href="{% static 'blog/css/menu.css' %} " rel="stylesheet">
    <link href="{% static 'blog/css/vendors.css' %} " rel="stylesheet">
    <link href="{% static 'blog/css/icon_fonts/css/all_icons_min.css' %}" rel="stylesheet">
    
  <!-- YOUR CUSTOM CSS -->
  <link href="{% static 'blog/css/custom.css' %}" rel="stylesheet">






  <title>Authentication System</title>
</head>

<body>


  {% block body %}{% endblock %}
  {% block register %}{% endblock %}
  {% block content %}{% endblock %}
  {% block home %}{% endblock %}
  {% block password_reset %}{% endblock %}
  {% block password_reset_email_check %}{% endblock %}
  {% block password_enter_for_reset %}{% endblock %}
  {% block password_enter_for_reset_done %}{% endblock %}
  {% block confirm_email %}{% endblock %}
  {% block lab_homepage %}{% endblock %}
  {% block lab_add_test %}{% endblock %}
  {% block physiotherapist_homepage %}{% endblock %}
  {% block prescription_home %}{% endblock %}
  {% block slot %}{% endblock %}
  {% block show_slots %}{% endblock %}
  {% block complaint %}{% endblock %}
  {% block show_feedback %}{% endblock %}
  {% block physiotherapist_show_slot %}{% endblock %}
  {% block physiotherapist_edit_profile %}{% endblock %}
  {% block physiotherapist_show_appointment %}{% endblock %}
  {% block lab_make_profile %}{% endblock %}
  {% block test_list %}{% endblock %}
  {% block lab_upcoming_bookings %}{% endblock %}
  {% block add_test %}{% endblock %}
  {% block collected_samples %}{% endblock %}
  {% block samplecollector_homepage %}{% endblock %}
  {% block assigned_samples %}{% endblock %}


  {% block nurse_homepage %}{% endblock %}
  {% block nurse_home %}{% endblock %}
  {% block nurse_slot %}{% endblock %}
  {% block nurse_show_slots %}{% endblock %}
  {% block nurse_complaint %}{% endblock %}
  {% block nurse_show_feedback %}{% endblock %}
  {% block nurse_show_slot %}{% endblock %}
  {% block nurse_edit_profile %}{% endblock %}
  {% block nurse_show_appointment %}{% endblock %}
  {% block report_detail %}{% endblock %}
  {% block report_home %}{% endblock %}
  {% block report_item %}{% endblock %}






  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>


</body>

</html>