{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <h1>This is nurse home.</h1>
    <h2>Upcoming Appointments</h2>
    {% for i in upcoming %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">{{i}}</p>
        <p class="card-text">{{i.slot.time_start}}</p>
        <p class="card-text">{{i.slot.time_end}}</p>
        <!-- {% if not i.slots %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add Slot
        </button>
        {% else %}
            {{i.slots.0.time_start}} to {{i.slots.0.time_end}}
        {% endif %} -->
        </div>
    </div>  
    {% endfor %}
    <br>
    <h2>Completed Appointments</h2>
    {% for i in completed %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">{{i}}</p>
        <p class="card-text">{{i.slot.time_start}}</p>
        <p class="card-text">{{i.slot.time_end}}</p>
        <button type="button" class="btn btn-primary">Check Payment Status</button>
        </div>
    </div>

    {% endfor %}
    <br>
    <br>  
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add Slot
    </button>
  
  <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% comment %} {% load bootstrap4 %}
                    {% bootstrap_css %}
                    {% bootstrap_javascript jquery='full' %}
                    {{ form.media }}
                    {% bootstrap_form slot_form %} {% endcomment %}
                    {{slot_form}}
                    {% csrf_token %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
            
        </div>
        </div>
    </div>

    <script>
        $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
        })
    </script>
    
{% endblock %}
